.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  gap: 3rem;
  flex-shrink: 8;
}

.nav-item {
  font-family: Jost, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(primary-text-color);
  text-align: center;
  letter-spacing: -1px;
  text-decoration: none;
}

.nav-item a:hover {
  border-bottom: 2px solid var(--button-bg-color);
}

.nav-item a:active {
  color: #d893d8;
  border-bottom: 2px solid var(--button-bg-color);
}
