.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.achievementTitle {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 10px;
}

.date {
  font-size: 14px;
  color: #ffffff;
}
