.mindMapContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.triangleContainer {
  position: relative;
  width: 180px;
  height: 200px;
}

.sphere {
  width: 15vw;
  height: 15vw;
  max-width: 80px;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  font-size: 0.7vw;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.452);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5),
    -10px -10px 20px rgba(255, 255, 255, 0.5);
  position: absolute;
  transition: transform 0.3s, box-shadow 0.3s;
}

.sphere:hover {
  transform: scale(1.1);
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.7),
    -12px -12px 24px rgba(255, 255, 255, 0.7);
}

.topSphere {
  top: 0;
  left: 30%;
}

.leftSphere {
  bottom: 0;
  left: 0;
  transform: translate(0, -50%);
}

.rightSphere {
  bottom: 0;
  right: 0;
  transform: translate(0, -50%);
}

@media (max-width: 768px) {
  .sphere {
    width: 20vw;
    height: 20vw;
    font-size: 1.5vw;
  }
}
