@import url("https://fonts.googleapis.com/css2?family=K2D:wght@400;700&display=swap");

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    135deg,
    #02f5b8,
    #fa04e5
  ); /* Gradient background */
  padding-top: 20px; /* Add padding at the top */
  position: relative; /* Ensure the background is positioned correctly */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5rem 0 5rem;
  width: 98%;
  height: 20%;
  color: #fff;
  font-family: "K2D", sans-serif;
  font-size: 2em;
  z-index: 1;
}

.headerText {
  color: #fff;
  font-family: "K2D", sans-serif;
  font-size: 5em;
  z-index: 1; /* Ensure the text is above the background */
  position: relative; /* Position it above the background */
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards per row */
  gap: 20px;
  width: 90%; /* Adjust to fill more space */
  margin: 20px auto; /* Center the grid and add margin at the top */
  padding: 20px;
  z-index: 1; /* Ensure the grid is above the background */
}

.card {
  width: 100%;
  height: 300px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Two cards per row for smaller screens */
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr; /* One card per row for mobile screens */
  }
}
