@import url("https://fonts.googleapis.com/css2?family=K2D:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  width: 100%;

  padding: 0;
  margin: 0;
}

.headerText {
  color: #fff;
  font-family: "K2D", sans-serif;
  font-size: 5em;
  z-index: 1;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards per row */
  gap: 20px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  z-index: 1;
}

.card {
  width: 100%;
  height: 300px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Two cards per row for smaller screens */
  }

  .container {
    padding: 0;
  }

  .header {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr; /* One card per row for mobile screens */
  }
}
