.mindMapContainer {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.triangleContainer {
  position: relative;
  width: 180px;
  height: 200px;
}

.circle {
  width: 15vw;
  height: 15vw;
  max-width: 80px;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 0.7vw;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(145deg, #6f6f6f, #b1b1b1);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7),
    -6px -6px 12px rgba(255, 255, 255, 0.3);
  position: absolute;
  transition: transform 0.3s;
}

.circle:hover {
  transform: scale(1.1);
}

.topCircle {
  background: linear-gradient(145deg, #800080, #a64ca6);
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.leftCircle {
  background: linear-gradient(145deg, #008080, #00a6a6);
  bottom: 0;
  left: 0;
  transform: translate(0, -50%);
}

.rightCircle {
  background: linear-gradient(145deg, #ff00ff, #ff66ff);
  bottom: 0;
  right: 0;
  transform: translate(0, -50%);
}

/* @media (max-width: 768px) {
  .circle {
    width: 20vw;
    height: 20vw;
    font-size: 1.5vw;
  }
} */
