.mindMapContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.triangleContainer {
  position: relative;
  width: 180px;
  height: 200px;
}

.circle {
  width: 15vw;
  height: 15vw;
  max-width: 80px;
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; /* Changed to black for text visibility on white background */
  text-align: center;
  font-size: 0.7vw;
  cursor: pointer;
  border-radius: 50%;
  background: white; /* Changed to white */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5),
    /* Dark shadow effect */ -10px -10px 20px rgba(255, 255, 255, 0.3); /* Light shadow effect */
  position: absolute;
  transition: transform 0.3s;
}

.circle:hover {
  transform: scale(1.1);
}

.topCircle {
  background: white; /* Ensures white background */
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.leftCircle {
  background: white; /* Ensures white background */
  bottom: 0;
  left: 25%;
  transform: translate(-50%, -50%);
}

.rightCircle {
  background: white; /* Ensures white background */
  bottom: 0;
  right: 25%;
  transform: translate(50%, -50%);
}

@media (max-width: 768px) {
  .circle {
    width: 20vw;
    height: 20vw;
    font-size: 1.5vw;
  }
}
