.aboutBodyCard {
  display: flex;
  flex-flow: row;
  width: 50vw;
  height: 25vh;
  margin: -2rem auto 0 auto;
  padding: 3% 5% 3% 5%;
  border-radius: 15px;
  background-color: var(--foreground-color);
}

.aboutBodyText {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: var(second-text-color);
}

.Abody {
  justify-content: center;
  align-items: center;
  color: var(second-text-color);
  margin-left: 5%;
}

.image {
  margin: -5% 0 0 0;
}
