.aboutBodyCard {
  display: flex;
  flex-flow: row;
  width: 50vw;
  margin: auto;
  padding: 3% 5% 3% 5%;
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.1);
}

.aboutBodyText {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}

.body {
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-left: 5%;
}

.image {
  margin: -5% 0 0 0;
}
