.popup {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category {
  margin-bottom: 10px;
}

.categoryContent {
  padding-left: 10px;
}

.item {
  margin-bottom: 5px;
}

.itemDetails {
  padding-left: 10px;
}

.itemDetail {
  margin-bottom: 2px;
}
