@import url("https://fonts.googleapis.com/css2?family=K2D:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  position: relative; /* Ensure the gradient background is positioned correctly */
  background: linear-gradient(135deg, #02f5b8, #fa04e5);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5rem 0 5rem;
  width: 98%;
  height: 20%;
  color: #fff;
  font-family: "K2D", sans-serif;
  font-size: 2em;
  z-index: 1;
}

.headerText {
  color: #fff;
  font-family: "K2D", sans-serif;
  font-size: 5em;
  z-index: 1;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards per row */
  gap: 20px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  z-index: 1;
}

.card {
  width: 100%;
  height: 300px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Two cards per row for smaller screens */
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr; /* One card per row for mobile screens */
  }
}
