.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  gap: 3rem;
  flex-shrink: 8;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2f2f2;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 17px;
  font-family: Jost, sans-serif;
  border-bottom: 2px solid transparent;
}

.nav-item a:hover {
  border-bottom: 2px solid rgb(214, 27, 214);
}

.nav-item a:active {
  color: #d8bfd8;
  border-bottom: 2px solid rgb(214, 27, 214);
}
